body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    max-height: 100vh;
}

.navbar-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr 3fr 1fr);
    margin-bottom: 40px;
}

.grow-list> ul {
    color: #808080;
    display: flex;
    list-style: none;
    padding: 0;
}

.container {
    margin: 60px 60px 0;
}

.grow-list ul > li {
    padding: 0 25px;
}

.grow-list ul > li:hover {
    color: black;
    font-weight: 500;
}

.button-group {
    text-align: right;
}

.nav-button {
    background-color: #5955b3;
    border-radius: 10px;
    border: unset;
    color: #fff;
    font-weight: 500;
    height: 40px;
    padding: 0 20px;
    width: auto;
}

.banner-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr);
    grid-gap: 85px;
}

.banner-container > div:last-child {
    text-align: right;
}

.banner-container > div:last-child > img {
    height: 500px;
}

.heading-text{
    color: #3c2f60;
    font-size: 48px;
    line-height: 60px;
}

.heading-text > span{
    color: #5955b3;
}

.description {
    color: #898989;
    font-size: 14px; 
    margin-bottom: 60px;   
}